nav {
    
    div {

        div#navbarNav {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}

div.container{
    min-height: 65vh;
}

footer {
    // background: linear-gradient(to right, #ffffff, orange);
    // background: linear-gradient(135deg, #ffffff 0%, rgb(243, 191, 93) 70%, orange 100%);
    // color: white;
    border-top: #288050 solid 5px;

    div {
        div {
            div {
                h5 {
                    font-family: sans-serif;
                    color: #288050;
                }
            }

            svg.bi {
                color: #288050;
                min-height: 24px;
                min-width: 24px;
                
            }
        }
    }

}